<img type="button"
     (click)="showDialog()"
     ngSrc="assets/circle-plus.svg"
     alt="open modal"
     height="54" width="54"
     class="addButton">

<ng-template
  let-observer

  [tuiDialogOptions]="{label: 'Выберите изображение', size: 's'}"
  [(tuiDialog)]="open"
>
  <p>Нажмите, чтобы загрузить файл с вашего устройства</p>
  <app-input-files></app-input-files>
  <div *ngIf="selectedFile">

    <p *ngIf="loadButton">
      <progress
        max="100"
        tuiProgressBar
        [value]="uploadPercent | async"
      ></progress>
    </p>

    <tui-loader
      class="loader"
      [inheritColor]=loadButton
      [overlay]=loadButton
      [showLoader]=loadButton
    >
      <button
        tuiButton
        type="button"
        (click)="uploadFile()"
      >
        Загрузить
      </button>
    </tui-loader>

  </div>
</ng-template>

<div class="imagesContainer">
  <h3>Загруженные изображения:</h3>
  <div *ngFor="let file of uploadFiles"
       class="image">
    <img (click)="showImage(file)"
         [src]="file.url" [alt]="file.name"
         class="img"/>
    <p>{{ file.name }}</p>
    <button tuiButton size="m"
            (click)="deleteFile(file.key)">
      Удалить
    </button>
  </div>
</div>
<ng-template let-observer [(tuiDialog)]="openImg">
  <div class="modalImage">
    <h1>{{ selectedImage?.name }}</h1>
    <img [src]="selectedImage?.url" [alt]="selectedImage?.name" class="modalImg"/>
    <button tuiButton size="m"
            (click)="deleteFile(selectedImage?.key)">
      Удалить
    </button>
  </div>
</ng-template>


