<form [formGroup]="form">
<label
  *ngIf="!control.value"
  tuiInputFiles
>
  <input
    accept="image/*"
    title="Choose files (no limits)"
    tuiInputFiles
    [formControl]="control"
    (change)="onFileSelected($event)"
  />
</label>

<tui-files class="tui-space_top-1">
  <tui-file
    *ngIf="control.valueChanges | async as file"
    [file]="file"
    (remove)="removeFile()"
  />
</tui-files>
  <tui-textfield *ngIf="selectedFile">
    <label tuiLabel>Здесь можете ввести свой комментарий</label>
    <input
      formControlName="text"
      tuiTextfield
    />
  </tui-textfield>
</form>

